h1= title
p Welcome to #{title}

div#app_view
	form#new_post_form
		input#post_message(type="text")
		button#submit_post(type="submit")

	div#posts_list



script#post_template(type="text/template")
	div.post_message <%= message %>