!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/lib/jquery-1.6.4.js')
    script(src='/js/lib/underscore-min.js')
    script(src='/js/lib/backbone-min.js')
    script(src='/js/master.js')
    script $(document).ready(function() { var app = new AppView(); });

    body!= body